<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/change_em_req.css' %}">
</head>
<body>
    <div class="container">
        <h1>Password Reset Request</h1>
        <form action="/request_reset" method="post" class="form-container">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send Password Change Request</button>
        </form>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>